body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table {
    border-collapse: collapse;
}

tr {
    width: 600px;
}

td {
    width: 200px;
    height: 200px;
    border: 5px solid black;
    cursor: pointer;
}

td:hover {
    background-color: rgba(4, 82, 145, 0.1);
}

table tr:first-child td {
    border-top: 0;
}

table tr td:first-child {
    border-left: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:last-child {
    border-right: 0;
}

.imgTable {
    position: relative;
    width: 140px;
    height: 140px;
    object-fit: cover;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.imgTable img {
    position: absolute;
    width: 140px;
    height: 140px;
    object-fit: cover;
}

.playerContainer {
    display: flex;
    font-size: 32px;
    margin-bottom: 30px;
}

.player1Container {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

.player2Container {
    display: flex;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
}

.player1Container img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 8px;
}

.player2Container img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    margin-right: 8px;
}

.player-inactivate {
    opacity: 0.5;
}

.d-none {
    display: none;
}

@media(max-width: 700px) {
    img {
        width: 85px;
        height: 85px;
    }

    .imgTable {
        width: 85px;
        height: 85px;
    }

    tr {
        width: 375px;
    }

    td {
        width: 125px;
        height: 125px;
    }
}

@media(max-width: 430px) {
    img {
        width: 80px;
        height: 80px;
    }

    .imgTable {
        width: 80px;
        height: 80px;
    }

    tr {
        width: 300px;
    }

    td {
        width: 100px;
        height: 100px;
    }
}